body{
    overflow-x: hidden;
}

#logo{
    width: 180px;
    height:80px;
}

#menu{
    background-color:#ECE2D0 !important;
}

.hs{
    height:480px !important;
}

.novedades #titulo{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#destacados{
    width: 100%;
    margin-top: 5px;
}
#destacados .card{
    border: 0 !important;
}

#cover{
    width: 100%;
    background-color:black;
    color:white;
    font-size:2em;

}

.float-wa{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        z-index:100;
    }