#logo{
    width: 180px;
    height:80px;
}

#menu{
    background-color:#ECE2D0 !important;
}

.hs{
    height:480px !important;
}

.novedades #titulo{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#destacados{
    width: 100%;
    margin-top: 5px;
}
#destacados .card{
    border: 0 !important;
}