body{
    overflow-x: hidden;
}

#logo{
    width: 180px;
    height:80px;
}

#menu{
    background-color:#ECE2D0 !important;
}

.hs{
    height:480px !important;
}

.novedades #titulo{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#destacados{
    width: 100%;
    margin-top: 5px;
}
#destacados .card{
    border: 0 !important;
}

#cover{
    width: 100%;
    background-color:black;
    color:white;
    font-size:2em;

}

.float-wa{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        z-index:100;
    }

/*factura*/

.invoice-header, .invoice-items, .invoice-totals{
    border-radius: 2px;
    margin: 0 auto;
    text-align: center;
    border: solid #000 1px;
    padding: 5px;
    width: 60%;
}
label, input{
    margin: 0 auto;
    width: 50%;
    padding: 5px;
}
.button{
    margin: 0 auto !important;
    width: 100% !important;

}


/* footer */
#page-footer{
    background-color: var(--encabezado);
}

#page-footer a{
    color: var(--enlace);
}

#page-footer .ftcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding-top:40px 0;
    flex-wrap: nowrap;
}

.footer__menu{
    max-width: 300px;
    grid-column: 1/3;
    grid-row-start: 1;
    padding-left: 1em;
}

.footer__menu figure{
    width: 100%;
    padding: 0;
    margin-top: 10px;

}

.footer__logo{
    width: 210px;
}

#page-footer .ftcontainer {
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 70px 0; 
}

.ft-social{
    color: #fff;
    border-radius: 100%;
    height: auto;
    width: 50px;
    display: inline-block;
    font-size: 14px;
    line-height: inherit;
}

.ft-link{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__title{
    color: #fff;
    font-weight: 700;
    margin-bottom:30px;
    font-size:1.2rem;
}

.footer__info{
    color: #fff;
    line-height:30px;
    font-size: 1.0rem;
}

.footer__link:nth-child(1){
    border-left: 2px solid #f3d707;
}
.footer__link:nth-child(2){
    border-left: 2px solid #12d608;
}
.footer__link:nth-child(3){
    border-left: 2px solid #f36507;
}

.footer-credits{
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #032247;
}

/* pagina de contacto */
#contacto .titulo {
    width: 100%;
    margin-top: 110px;
    text-align: center;
}

/* pag de nosotros */

#nosotros .titulo{
    margin-top: 115px;
    text-align: center;
}

/* pag de televisores */

#televisor .titulo{
    width: 100%;
    text-align: center;
    margin-top: 115px;
}
/* pag de celulares */

#celular .titulo{
    width: 100%;
    text-align: center;
    margin-top: 115px;
}

/* configurar las img en celular */
#celular img{
    height: 600px;
}

/* simulador */
#simulador .titulo{
    width: 100%;
    text-align: center;
    margin-top: 115px;
}

.container{
    background-color: #fff;
    width: 560px;
    height: 350px;
    border-radius: 50px;
    padding: 50px;
    box-shadow: 0 0 50px rgba(6, 6, 6, 0.344);
}

.titulo{
    text-align: center;
    font-size: 2.2rem;

}
